.navBar-Parent {
  background: rgb(73, 68, 68);
   padding: 0px 0px 0px 0px;
}  
.header-Container {
    float: left;
    font-style: normal;
  }
.header-text{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: beige;
}

.form-header-style{
  padding: 0px 0px 0px 0px;
}

.container1{
  max-width: 95%;
  border-radius: 8px;
  background-color: white;
  margin: 10px 20px 10px 20px;
  padding: 0px 0px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lable-style{
  font-weight: bold;
}

.row{
  margin-top: 12px;
}

.button-container {
	float: right;
	margin: 15px;
}


.reset-button-elements{
	margin-left : 15px;
}

.export-Button-Style{
  float: right;
  padding: 0px 28px 4px 0px;
}

  
.container {
    width: 100% !important;
  }
  
.form-horizontal .form-group {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  
.add-contact-form {
    background: white;
    margin-right: 0 !important;
    margin-left: 0 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  thead th{
    text-align: center;
    border: .7px solid #ddd;
    color: white;
  }

  thead{
    background-color: #9da3a3;

  }

  tbody td{
    text-align: center;
    border: .7px solid #ddd;
    background-color: white;
    overflow: hidden;
    border-collapse: collapse;
  }

Table{
  padding: 0;
}
